<h4 align="center">
	<marqueee>Trends for current release</marquee>
</h4>
<div class="grid">
   <div class="row cells12">
      <div class="cell colspan4">
         <canvas id="cps"></canvas>
         <h5 align="center">Connections per seconds</h5>
      </div>
      <div class="cell colspan4">
         <canvas id="hps"></canvas>
         <h5 align="center">Hits per seconds</h5>
      </div>
      <div class="cell colspan4">
         <canvas id="throughput"></canvas>
         <h5 align="center">Throughput</h5>
      </div>
   </div>
   <div class="row cells12">
      <div class="cell colspan4">
         <canvas id="smoke"></canvas>
         <h5 align="center">Smoke</h5>
      </div>
      <div class="cell colspan4">
         <canvas id="regression"></canvas>
         <h5 align="center">Regression</h5>
      </div>
   </div>
</div>