{% extends 'base.html' %}
{% block title %}Login to Analytics{% endblock %}
{% block content %}
<div class="container" style="width:300px">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% if not success %}
    <div class="alert alert-danger alert-dismissable">
        {% else %}
        <div class="alert alert-success alert-dismissable">
            {% endif %}
            <button type="button" class="close" data-dismiss="alert">
                &times;
            </button>
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        
        <div class="panel panel-primary">
          <div class="panel-heading">
              <h2 class="panel-title">Dashboard&reg; For Regression</h2>
          </div>
          <div class="panel-body table-responsive">

            <form class="form-signin" action="/account/controller" method="POST">
                <h4 class="form-signin-heading"> Please login</h4>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="username" name="username" id="inputusername" class="form-control" placeholder="Username" required autofocus>
                <br>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
