{% extends 'template.html' %}
{% block title %}Please login to access analytics{% endblock title %}
{% block body_class %}class="bg-white"{% endblock body_class %}
{% block navbar %}{% endblock %}	
{% block content %}
<div class="grid">
	<div class="row cells12">
		<div class="cell colspan3"></div>
		<div class="cell colspan5">
				<form action="/account/controller" method="post">
					<div class="input-control modern text iconic big-input">
						<input type="text" name="username">
							<span class="label">Username</span>
						    <span class="informer">Please enter you username</span>
						    <span class="placeholder">Username</span>
						    <span class="icon mif-user"></span>
					</div>
					<div class="input-control modern text iconic" data-role="input">
						<input type="password" name="password">
							<span class="label">Password</span>
						    <span class="informer">Please enter your password</span>
						   	 <span class="placeholder">Password</span>
						    <span class="icon mif-lock"></span>
					</div>
					<br><br>
					<button class="button medium-button">
						<span class="icon mif-enter"></span>&nbsp;Log in</button>
					&nbsp;&nbsp;
					<button class="button medium-button">
						<span class="icon mif-cross"></span>&nbsp;&nbsp;Cancel</button>
				</form>
			</div>
		</div>
		<div class="cell colspan4"></div>
	</div>
</div>

{% endblock content %}