<!DOCTYPE html>
<html>
<head>
	<title>{% block title%}{% endblock title %}</title>
    <link href="/static/css/metro.css" rel="stylesheet">
	<link href="/static/css/metro-icons.css" rel="stylesheet">
	<script src="/static/js/jquery-1.11.2.min.js"></script> 
	<script src="/static/js/jquery.dataTables.min.js"></script> 
	<link href="/static/css/font-awesome.min.css" rel="stylesheet">
   	<script src="/static/js/Chart.js"></script>
    <script src="/static/js/metro.js"></script>
</head>
<body {% block body_class %} class="bg-white" {%endblock body_class%}>
{% include 'appbar.html' %}
<div class="grid">
	<div class="row cells12">
		<div class="cell colspan2">
			<div class="cell">	
				{% block navbar %}
				{% include 'navbar.html' %}		
				{% endblock navbar%}
			</div>
		</div>
		<div class="cell colspan10">
			{% block content %}
			{% include 'graphs.html' %}	
			{% endblock content %}	
		</div>
	</div>
</div>
{% block script %}
{% include 'dashboard.js'%}
{% endblock script %}
</body>
</html>
